.mainWrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: brown;
  height: 100vh;
}

.textWrapper {
  display: grid;
  background-color: antiquewhite;
  font-size: 23px;
  grid-template-rows: 1fr 1fr 1fr;
}

.photoWrapper {
  background-color: aqua;
}
